[user]
	name = Marcelo Henrique Cerri
	email = mhcerri@gmail.com

[core]
	#editor = vim +:0 -c 'set textwidth=72' -c 'set wrap' -c 'set nocp' -c 'set spell'
	#editor = emacsclient -a '' -t
	editor = emacs -nw
	abbrev = 12

[alias]
	# Extended operations:
	amend    = commit --amend --no-edit
	list     = log --oneline --decorate=full
	list-all = log --oneline --decorate=full --graph --all
	fixes    = log --pretty=fixes
	pick     = cherry-pick
	irebase  = rebase -i
	# Patch submission:
	format-patch      = format-patch --from
	send-email-to-ukt = send-email --suppress-cc=all --to=kernel-team@lists.ubuntu.com
	send-email-to-ckt = send-email --suppress-cc=all --to=canonical-kernel-team@lists.canonical.com
	send-email-to-me  = send-email --suppress-cc=all --to=marcelo.cerri@canonical.com
	# Short shortcuts
	a  = add
	d  = diff
	s  = status
	ss = show --stat
	co = checkout
	pi = cherry-pick
	l  = log --oneline --decorate=full
	ff = merge --ff-only 
	# List shortcuts:
	l1  = log --oneline --decorate=full -1
	l2  = log --oneline --decorate=full -2
	l3  = log --oneline --decorate=full -3
	l4  = log --oneline --decorate=full -4
	l5  = log --oneline --decorate=full -5
	l6  = log --oneline --decorate=full -6
	l7  = log --oneline --decorate=full -7
	l8  = log --oneline --decorate=full -8
	l9  = log --oneline --decorate=full -9
	l10 = log --oneline --decorate=full -10

[pretty]
	fixes = Fixes: %h (\"%s\")

[format]
	pretty = fuller

[diff]
	wsErrorHighlight = all

[url "git+ssh://mhcerri@git.launchpad.net/"]
	pushinsteadof = lp:

[url "git://git.launchpad.net/"]
	insteadof = lp:

[pager]
	log =  nicediff | less
	show = nicediff | less
	diff = nicediff | less

