[user]
	name = Marcelo Cerri
	email = mhcerri@gmail.com
[core]
	editor = vim +:0
[alias]
	d        = diff
	s        = status
	l        = log --oneline --decorate=full
	list     = log --oneline --decorate=full
	list-all = log --oneline --decorate=full --graph --all
