#!/bin/bash
#
# ~/.xprofile
#

# Just start all the application when the script is not executed by a session
# manager or when i3 is the window manager.
if [[ -n "$XDG_SESSION_DESKTOP" && "$XDG_SESSION_DESKTOP" != "i3" ]]; then
    return
fi

## Ensure that the D-Bus Communication System is running properly to fix
## File management, authentication, and other essential system processes
if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
    eval "$(dbus-launch --sh-syntax --exit-with-session)"
fi

# Load X resources
[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources

# Load system scripts. This should handle D-Bus.
if [ -d /etc/X11/xinit/xinitrc.d ]; then
  for f in /etc/X11/xinit/xinitrc.d/*; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

# Monitor calibration
[[ -f ~/.monicarc ]] && source ~/.monicarc

# Set environment
. ~/.bashrc
# TODO use a loop instead
if which terminology &> /dev/null; then
    export TERMINAL=terminology
elif which mate-terminal &> /dev/null; then
    export TERMINAL=mate-terminal
elif which urxvt256c &> /dev/null; then
    export TERMINAL=urxvt256c
fi

# Ensure that SSH will ask the passphase via console
export SSH_ASKPASS=

# Set X related settings
xsetroot -solid '#555555'

# Screensaver
xautolock -detectsleep -time 10 -locker '~/.i3/lock -c 000000' &
~/.i3/xautolock-dbus &

run_bg() {
	if which "$1" > /dev/null; then
		"$@" &
	fi
}

# Run Mate utils
path="$PATH"
ifs="$IFS"; IFS=$'\n'
for dir in $(
    find /usr/lib               \
        -mindepth 1 -maxdepth 1 \
        -type d -a -name 'mate-*')
do
    export PATH="$dir:$PATH"
done
IFS="$ifs"
run_bg mate-settings-daemon mate-settings-daemon
run_bg polkit-mate-authentication-agent-1
run_bg mate-power-manager
run_bg mate-bluetooth-applet
run_bg nm-applet
export PATH="$path"

# Misc
run_bg kalu &
run_bg clipit &
run_bg psensor &
run_bg rofi -run-command "sh -c 'echo \"\$1\" > ~/.rofi-last-cmd; eval \$1' sh \"{cmd}\"" &
run_bg syncthing-gtk &
