!
! Xresources
!

! urxvt
URxvt*.font:                    xft:monospace:size=9
URxvt*.letterSpace:             -1
URxvt*.background:              #202020
URxvt*.foreground:              #AAAAAA
URxvt*.saveLines:               65535
URxvt*.scrollBar:               false
URxvt*.visualBell:              true
URxvt*.cursorUnderline:         false
URxvt*.urgentOnBell:            true
URxvt*.cursorBlink:             true
URxvt*.cursorColor:             #aaaaaa
URxvt*.cursorColor2:            #000000
URxvt*.scrollTtyOutput:         false
URxvt*.scrollWithBuffer:        true
URxvt*.scrollTtyKeypress:       true
URxvt*.secondaryScreen:         1
URxvt*.secondaryScroll:         0
URxvt*.secondaryWheel:          1
URxvt*.perl-lib:                ~/.urxvt/ext/
URxvt*.iso14755:                False
URxvt*.perl-ext-common:         default,searchable-scrollback,font-size,matcher,keyboard-select,-selection-to-clipboard,vtewheel
URxvt*.keysym.C-S-V:            eval:paste_clipboard
URxvt*.keysym.C-S-C:            eval:selection_to_clipboard
URxvt*.keysym.M-Escape:         perl:keyboard-select:activate
URxvt*.keysym.M-s:              perl:keyboard-select:search
URxvt.url-launcher:             sensible-browser
URxvt.keysym.C-Delete:          matcher:last
URxvt.keysym.M-Delete:          matcher:list
URxvt.keysym.C-S-Delete:        matcher:select
URxvt.matcher.button:           1
URxvt.matcher.pattern.1:        \\b(lp|LP):?\\s?\\#?([0-9]+)\\b
URxvt.matcher.launcher.1:       sensible-browser https:\/\/bugs.launchpad.net\/bugs\/$2

! rofi
rofi.quiet:             true
rofi.key-run:           mod4-d
rofi.key-window:        mod4-shift-w
rofi.key-ssh:           mod4-shift-s
rofi.terminal:          i3-sensible-terminal
rofi.font:              mono 9
rofi.separator-style:   solid
rofi.padding:           1
rofi.bg:                #222222
rofi.bgalt:             #222222
rofi.fg:                #888888
rofi.hlbg:              #285577
rofi.hlfg:              #ffffff
rofi.bc:                #333333
rofi.bw:                1
rofi.width:             30
rofi.lines:             10
rofi.modi:              run,window,ssh
rofi.sidebar-mode:      true
rofi.fixed-num-lines:   true
rofi.location:          0

! rofi - new color format
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #222222,  #888888,  #222222,  #285577,  #ffffff
rofi.color-urgent: #222222,  #dc322f,  #222222,  #dc322f,  #ffffff
rofi.color-active: #222222,  #cccccc,  #222222,  #cccccc,  #222222
!                  'background', 'border', 'separator'
rofi.color-window: #222222,      #333333,  #333333

! emacs
Emacs*font:             Monospace 9

! colors for urxvt and xterm (dark and light)
! black
*color0:                        #2E3436
*color8:                        #555753
! red
*color1:                        #CC0000
*color9:                        #EF2929
! green
*color2:                        #4E9A06
*color10:                       #8AE234
! yellow
*color3:                        #C4A000
*color11:                       #FCE94F
! blue
*color4:                        #3465A4
*color12:                       #729FCF
! magenta
*color5:                        #75507B
*color13:                       #AD7FA8
! cyan
*color6:                        #AD7FA8
*color14:                       #34E2E2
! white
*color7:                        #D3D7CF
*color15:                       #EEEEEC
