[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=%h/.local/share/systemd-emacs/emacs -nw --daemon
ExecStop=%h/.local/share/systemd-emacs/emacsclient --eval "(kill-emacs)"
Environment="SSH_AUTH_SOCK=%t/keyring/ssh" "LC_TIME=en_US.UTF-8" "COLORTERM=truecolor"
Restart=always

[Install]
WantedBy=default.target
