[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
#ExecStart=/usr/bin/emacs --daemon
#ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
ExecStart=/opt/emacs26/bin/emacs --daemon
ExecStop= /opt/emacs26/bin/emacsclient --eval "(kill-emacs)"
Environment="SSH_AUTH_SOCK=%t/keyring/ssh" "LC_TIME=en_US.UTF-8"
Restart=always

[Install]
WantedBy=default.target