[Unit]
Description=Start greenclip daemon
After=display-manager.service

[Service]
ExecStart=%h/.local/share/systemd/bin/greenclip daemon
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
