[Unit]
Description=mbservice service for account %i (oneshot)
Documentation=man:mbsync(1)
ConditionPathExists=%h/.mbsyncrc

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -Dm %i
ExecStartPost=-%h/.local/var/bin/mu index

[Install]
WantedBy=default.target
